<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="onLogin(email, password)" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>

  </form>
  <ion-row>
    <ion-col>
      <ion-button (click)="signIn()" expand="block" color="primary">
        Login with Facebook
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="onLoginGoogle()" expand="block" color="danger">Login with Google</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
       <p>
         <a routerLink="/register">Create an account</a>
       </p>
      </ion-col>
      <ion-col>
        <p>
          <a routerLink="/forgot-password">Forgot your password?</a>
        </p>
       </ion-col>
    </ion-row>
</ion-content> -->

<ion-content id="login" class="bg-signup no-scroll">
  <div class="container">
    <div class="row">
      <div class="col">
        <ion-select class="select-language" (ionChange)="onSelectChange($event)" [(ngModel)]="language">
          <ion-select-option value="es" selected>ES</ion-select-option>
          <ion-select-option value="en">EN</ion-select-option>
        </ion-select>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="../../../assets/img/signup/003_with_logo.png" class="icon-logo" />
      </div>
    </div>
    <div class="row content-body-dark">
      <div class="content-icon">
        <img src="../../../assets/icon/Profile icon.png" class="icon-profile" />
      </div>
      <div class="row content-form">
        <div class="col">
          <h1 class="text-bold signup">{{ 'LOGIN' | translate }}</h1>
        </div>
      </div>
      <div class="row content-list">
        <ion-list>
          <ion-item class="ion-no-padding">
            <div class="content-item">
              <ion-label position="floating">{{ 'ENTER_EMAIL' | translate }}</ion-label>
              <ion-input type="text" #email></ion-input>
            </div>
          </ion-item>

          <ion-item class="ion-no-padding">
            <div class="content-item">
              <ion-label position="floating">{{ 'ENTER_PASSWORD' | translate }}</ion-label>
              <ion-input type="password" #password></ion-input>
            </div>
          </ion-item>
          <p>
            <a routerLink="/forgot-password" class="vincle-no-style a-forgot-password">
              {{ 'FORGOT_PASSWORD' | translate }}</a>
          </p>
        </ion-list>
      </div>
      <div class="row boton-signup">
        <button type="button" class="my-color form-control" (click)="onLogin(email, password)">{{ 'LOGIN' | translate
          }}</button>
      </div>
      <div class="content-line">
        <span class="or">{{ 'OR' | translate }}</span>
        <div class="line"></div>
      </div>

      <div class="socials-icons">
        <div class="circle-content">
          <img src="../../../assets/icon/FB-icon.png" (click)="signIn()" class="icon-facebook" />
        </div>
        <div class="circle-content">
          <img src="../../../assets/icon/Google-icon.png" (click)="onLoginGoogle()" class="icon-google" />
        </div>
      </div>
      <div class="last-text">
        <p class="text-center last-p">{{ 'ALREADY_ACOUNT' | translate }}
          <a routerLink="/register" class="text-bold vincle-no-style">{{ 'SIGN_UP' | translate }}</a>
        </p>
      </div>
    </div>
  </div>
</ion-content>