<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'VERIFY_PASSWORD.HEADER' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user$ | async as user">
  <ion-row>
    <ion-col>
      <H2>{{ 'VERIFY_PASSWORD.TITLE' | translate }}</H2>
      <p>{{ 'VERIFY_PASSWORD.TEXT_CONFIRM_EMAIL' | translate }} <strong>{{user.email}}</strong></p>
      <p>{{ 'VERIFY_PASSWORD.PLEASE_CHECK_EMAIL' | translate }}</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="primary" expand="block" (click)="onSendEmail()">
        {{ 'RESENT_VERIFICATION_EMAIL' | translate }}
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button type="button" color="primary" expand="block" (click)="navigateToLogin()">
        {{ 'LOGIN' | translate }}
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>