ion-content#signup{
    --background: #fff url('../../../assets/img/signup/002_with_logo.png') no-repeat center top / cover;
    margin-top: 50px;
    width: 100%;
    height: auto;
}
.no-scroll{
    overflow: hidden;
}