/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

*{
    font-family: 'SF-Pro-Display-Regular';
    font-size: 16px;
}

.title{
    font-size: 20px;
}

.select-language{
    width: fit-content;
    float: right;
}

@font-face{
    font-family: 'SF-PRO-Display-Black';
    src: local('Display-Black'), url('./assets/fonts/SF-Pro-Display-Black.otf') format('truetype');
}
.text-black{
    font-family: 'SF-PRO-Display-Black';
}

@font-face{
    font-family: 'SF-PRO-Display-Bold';
    src: local('Display-Bold'), url('./assets/fonts/SF-Pro-Display-Bold.otf') format('truetype');
}
.text-bold{
    font-family: 'SF-PRO-Display-Bold';
}

@font-face{
    font-family: 'SF-Pro-Display-Heavy';
    src: local('Display-Heavy'), url('./assets/fonts/SF-Pro-Display-Heavy.otf') format('truetype');
}
.text-heavy{
    font-family: 'SF-PRO-Display-Heavy';
}

@font-face{
    font-family: 'SF-Pro-Display-Light';
    src: local('Display-Light'), url('./assets/fonts/SF-Pro-Display-Light.otf') format('truetype');
}
.text-light{
    font-family: 'SF-PRO-Display-Light';
}

@font-face{
    font-family: 'SF-Pro-Display-Medium';
    src: local('Display-Medium'), url('./assets/fonts/SF-Pro-Display-Medium.otf') format('truetype');
}
.text-medium{
    font-family: 'SF-PRO-Display-Medium';
}

@font-face{
    font-family: 'SF-Pro-Display-Regular';
    src: local('Display-Regular'), url('./assets/fonts/SF-Pro-Display-Regular.otf') format('truetype');
}
.text-regular{
    font-family: 'SF-PRO-Display-Regular';
}

@font-face{
    font-family: 'SF-Pro-Display-Thin';
    src: local('Display-Thin'), url('./assets/fonts/SF-Pro-Display-Thin.otf') format('truetype');
}
.text-thin{
    font-family: 'SF-PRO-Display-Thin';
}

@font-face{
    font-family: 'SF-Pro-Display-Ultralight';
    src: local('Display-Ultralight'), url('./assets/fonts/SF-Pro-Display-Ultralight.otf') format('truetype');
}
.text-ultralight{
    font-family: 'SF-PRO-Display-Ultralight';
}

.vinculo{
    color: #0D9EBA;
}

button.my-color, button.my-color:focus,
a.btn.my-color{
    background-color: #0D9EBA;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

a.vincle-no-style{
    text-decoration: none;
}

.bg-gray{
    font-size: 20px;
    background-color: rgb(233, 232, 232);
}

button.my-color-gray, button.my-color:focus{
    background-color: rgb(167, 164, 164);
    color: black;
    font-weight: bold;
    font-size: 20px;
}

input, .btn:focus, .btn.focus, button:focus, select:focus {
    outline: none !important;
    box-shadow: none !important;
}