ion-content#forgot-password{
    .container{
        padding: 0;
        margin-top: 15px;     
        .select-language{
            right: 20px;
        }
        .content-image img{
            float: right;
        }
    }
    .content-body{
        padding: 16px;
        background-color: rgb(233, 232, 232);
        height: 100vh;
        ion-item .content-item{
            background-color: rgb(233, 232, 232);
            width: 100%;
            .item-inner{
                padding-right: 0 !important;
            }
            .item-native{
                padding-left: 0 !important;
                padding-inline-start: 0 !important;
            }     
        } 
        ion-item {
            --padding-end: 0px;
            --inner-padding-end: 0px;
            border-bottom: 1px solid grey;
        } 
    }   
}